mulesoftSamples/sftp-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ec88abba-066d-4ae7-a442-472e04415577" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<sftp:config name="SFTP_Config" doc:name="SFTP Config" doc:id="5b631e52-7f26-42af-bd2b-a902c5a914f7" >
		<sftp:connection workingDir="/in" host="host_name" username="username" password="password" />
	</sftp:config>
	<flow name="sftp-servicesFlow" doc:id="c420ae19-46cf-4bdf-9d42-f067be1481f1" >
		<http:listener doc:name="Listener" doc:id="73250bfb-9aee-47da-b09e-bd985be6ec34" config-ref="HTTP_Listener_config" path="write"/>
		<logger level="INFO" doc:name="Logger" doc:id="aeba3eb0-2b4d-4542-8b79-3f3fbc45ce6a" message="Incoming Text #[payload]"/>
		<set-variable value="mulesy.txt" doc:name="filename" doc:id="c00037d2-0381-47ff-a23e-1c062ea16467" variableName="filename"/>
		<sftp:write doc:name="Write" doc:id="0f13b970-cbd4-4e5e-944b-6bb07c207a3b" config-ref="SFTP_Config" path="#[vars.filename]"/>
		<ee:transform doc:name="Transform Message" doc:id="06893d89-0142-4d30-96bb-ebe134946852" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "file created successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="sftp-services-poll-new-Flow" doc:id="894122f2-7e7e-49dd-af41-985b4554ba5b" >
		<sftp:listener doc:name="On New or Updated File" doc:id="b4aaaa4e-37cd-44ed-bfac-f299215c0806" config-ref="SFTP_Config">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</sftp:listener>
		<logger level="INFO" doc:name="filename" doc:id="fd2228ed-d778-4be6-8b10-b5b91dab92d3" message="#['filename - ' ++ attributes.fileName]"/>
		<logger level="INFO" doc:name="payload" doc:id="d3f19291-fac7-4648-a4d4-0aa7aeeb3d0a" message="file content - #[payload]"/>
	</flow>
	<flow name="sftp-services-read-Flow" doc:id="c4a9e843-246f-42de-bbf0-60d80b586f8a" >
		<http:listener doc:name="Listener" doc:id="cd932466-a17f-473b-823a-99c9695687d1" config-ref="HTTP_Listener_config" path="read"/>
		<logger level="INFO" doc:name="filename" doc:id="75f3794e-a9d3-4825-9336-d6efcc17b714" message="filename - #[attributes.queryParams.'filename']"/>
		<sftp:read doc:name="Read" doc:id="e16d4cf2-4fae-474d-af3d-c9f5e6d6bc93" config-ref="SFTP_Config" path="#[attributes.queryParams.'filename']"/>
	</flow>
</mule>
